body {
    background: rgb(112, 112, 255);
    background-image: url(images/ocean.PNG);
    background-size: 100%;
}
h1 {
    color: rgb(2, 76, 76);
    font-family: gill sans;
    display: flex;
    padding-left: 100px;
}

#gridContainer {
    border: 4mm double rgb(2, 106, 106);
    display: grid; grid-template-columns: repeat(16, auto);
    background-image: url(images/background-reef.jpeg);
}

.wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
}

.row {
    border-left: 0.5px solid rgb(2, 130, 130);
}
.gridsquare {
    border: 1px solid rgb(2, 130, 130);
    padding: 15px;
}