body {
    background-color: indianred;
    background-image: url(images/ocean.PNG);
    background-size: 100%;
}
h1 {
    color: rgb(2, 76, 76);
    font-family: gill sans;
    padding-left: 100px;
}
button {
    border-radius: 5px;
}

.board {
    width: 500px;
    height: 500px;
    border: 4mm double rgb(2, 106, 106);
    display: grid;
}